{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h1>仕訳入力</h1>
    <form action="" method="post">
        {% csrf_token %}
        仕訳番号：{{ je_form_1.je_no  }}
        {{ description_form.as_p }}
        <p>--------------------</p>
        行番号：{{ je_form_1.row_no }}
        貸借区分：{{ je_form_1.debit_credit }}
        勘定コード：{{ je_form_1.account_code }}
        金額：{{ je_form_1.amount }}
        <p>--------------------</p>
        行番号：{{ je_form_2.row_no }}
        貸借区分：{{ je_form_2.debit_credit }}
        勘定コード：{{ je_form_2.account_code }}
        金額：{{ je_form_2.amount }}
        <p>--------------------</p>
        行番号：{{ je_form_3.row_no }}
        貸借区分：{{ je_form_3.debit_credit }}
        勘定コード：{{ je_form_3.account_code }}
        金額：{{ je_form_3.amount }}
        <p>--------------------</p>
        行番号：{{ je_form_4.row_no }}
        貸借区分：{{ je_form_4.debit_credit }}
        勘定コード：{{ je_form_4.account_code }}
        金額：{{ je_form_4.amount }}
        <p>--------------------</p>
        行番号：{{ je_form_5.row_no }}
        貸借区分：{{ je_form_5.debit_credit }}
        勘定コード：{{ je_form_5.account_code }}
        金額：{{ je_form_5.amount }}
        <p>--------------------</p>
        行番号：{{ je_form_6.row_no }}
        貸借区分：{{ je_form_6.debit_credit }}
        勘定コード：{{ je_form_6.account_code }}
        金額：{{ je_form_6.amount }}
        <p>--------------------</p>
        行番号：{{ je_form_7.row_no }}
        貸借区分：{{ je_form_7.debit_credit }}
        勘定コード：{{ je_form_7.account_code }}
        金額：{{ je_form_7.amount }}
        <p>--------------------</p>
        行番号：{{ je_form_8.row_no }}
        貸借区分：{{ je_form_8.debit_credit }}
        勘定コード：{{ je_form_8.account_code }}
        金額：{{ je_form_8.amount }}
        <p>--------------------</p>
        行番号：{{ je_form_9.row_no }}
        貸借区分：{{ je_form_9.debit_credit }}
        勘定コード：{{ je_form_9.account_code }}
        金額：{{ je_form_9.amount }}
        <p>--------------------</p>
        行番号：{{ je_form_10.row_no }}
        貸借区分：{{ je_form_10.debit_credit }}
        勘定コード：{{ je_form_10.account_code }}
        金額：{{ je_form_2.amount }}
        <p>--------------------</p>

        <button type="submit">仕訳登録</button>
    </form>


{% endblock %}
